@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #eab676;
  --background-end-rgb: #eeeee4;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

::-webkit-scrollbar {
    width: 9px; /* Width of the vertical scrollbar */
  }

  /* Track (the background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Change this to your desired track color */
  }

  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Change this to your desired handle color */
    border-radius: 6px; /* Rounded corners for the handle */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Change this to the hover color you prefer */
  }

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h4{
  @apply font-bold py-2 text-base
}

.projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.car {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-10%);
  transition: transform 0.3s ease-in-out;

}

.shake{
  animation: move 1s infinite alternate;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}


@media (max-width: 768px){
  .projects{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1rem;
  }
  .comp2{
    order: -1;
  }
}